In [1]:
import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd
import time

In [2]:
keyword = "data scientist,$10000, Inter"
where = "New York"
remote = 1
formage = 14
salary = "$20000"
jobType = "fulltime"
location = ""
company = ""
experience = "" 
URL = "https://www.indeed.com/jobs?"

In [3]:
if salary != "":
    if "$" in keyword:
        print("yes")
        keyword = keyword[:keyword.find("$")] + " "+salary
    else:
        keyword = keyword+"+"+salary
keyword = keyword.replace(" ","+")
keyword = keyword.replace(",", "%2C")
keyword = keyword.replace("/", "%2F")
if where == "":
    if location != "":
        where = location
        location = ""
where = where.replace(" ","+")
where = where.replace(",", "%2C")
where = where.replace("/", "%2F")
URL = URL+"&q="+keyword+"&l="+where
URL

yes

'https://www.indeed.com/jobs?&q=data+scientist%2C+$20000&l=New+York'

In [4]:
if(remote ==1):
    URL += "&remotejob=1"

if(formage > 0):
    URL += "&fromage="+str(formage)

if(jobType != ""):
    URL+= "&jt="+jobType

if(experience != ""):
    URL += "&explvl=" +experience

URL

'https://www.indeed.com/jobs?&q=data+scientist%2C+$20000&l=New+York&remotejob=1&fromage=14&jt=fulltime'

In [5]:
def get_jobs(URL):
    page = requests.get(URL)
    soup = BeautifulSoup(page.text, "html.parser")
    jobs = soup.find_all(name="div", attrs={"class":"jobsearch-SerpJobCard unifiedRow row result"}) 
    dataframe_dict = {}
    companies = []
    for job in jobs:
        company = job.find_all(name="span", attrs={"class":"company"})    
        if len(company) > 0: 
            for b in company:
                companies.append(b.text.strip()) 
        else: 
            sec_try = div.find_all(name="span", attrs={"class":"result-link-source"})
            for span in sec_try:
                companies.append(span.text) 
    dataframe_dict["Company"] = companies
    job_title = []
    for job in jobs:
        for a in job.find_all(name="a", attrs={"data-tn-element":"jobTitle"}):
            job_title.append(a["title"])
    dataframe_dict["Job_title"] = job_title
    locations = []
    for job in jobs:
        c = job.findAll("span", attrs={"class": "location"}) 
        for span in c: 
            locations.append(span.text)
    dataframe_dict["Location"] = locations
    summaries  = []
    for job in jobs:
        d = job.findAll("div", attrs={"class": "summary"}) 
        for span in d:
            summaries.append(span.text.strip()) 
    dataframe_dict["Summary"] = summaries
    dates = []
    for job in jobs:
        date = job.findAll("span", attrs={"class": "date"}) 
        for span in date:
            dates.append(span.text.strip()) 
    dataframe_dict["Date"] = dates
    return pd.DataFrame(dataframe_dict)

In [6]:
get_jobs(URL)

,Company,Job_title,Location,Summary,Date
0,Pearson,Data Scientist,"Albany, NY",Understands and prepares data for analysis by ...,2 days ago
1,Medidata Solutions,"Data Scientist/Engineer (SAS, R code, Python &...","New York, NY 10003 (Flatiron District area)",5+ years professional experience as a data sci...,12 days ago
2,NYU Langone Medical Center,Tumor Registrar - Full Time/ Remote,"New York, NY",Prepares and disseminates tumor registry data....,10 days ago
3,Medidata Solutions,"Lead Data Engineer, Life Science (Open to Remo...","New York, NY 10003 (Flatiron District area)","Full-stack design, development, and operation ...",5 days ago
4,Pearson,"Director, Business Analytics","Albany, NY",Minimum 5 years of experience managing and lea...,1 day ago
5,"1819, LLC",Principal Data Engineer,"New York, NY 10016 (Gramercy area)",Experience working with data stores.\n3+ years...,9 days ago
6,Verkada,Enterprise Solutions Engineer - Southeast,"Town of Southeast, NY",Verkada is seeking an Enterprise Field Solutio...,4 days ago
7,Altversity,Data Science & Machine Learning Research Intern,"New York, NY",Has experience working in data science and mac...,4 days ago
8,Paige,AI Scientist,New York State,In this role you'll be part of a team of world...,1 day ago
9,Crisis Text Line,"Data Scientist, Decisions","New York, NY 10010 (Flatiron District area)",Proficiency in SQL and one or more data scienc...,5 days ago

In [7]:
URL+= "&start=10"

In [8]:
get_jobs(URL)

,Company,Job_title,Location,Summary,Date
0,Spotify,Senior Backend Engineer – SoundBetter,"New York, NY 10011 (Flatiron District area)",Work closely with cross-functional teams of da...,1 day ago
1,Vanasse Hangen Brustlin,Energy Market Leader,"New York, NY 10119 (Garment District area)",The ideal candidate will have previous experie...,11 days ago
2,E source,Lead Software Architect,"Buffalo, NY","If you join the TROVE team, expect to work on ...",11 days ago
3,Altversity,Data Science & Machine Learning Research Intern,"New York, NY",Has experience working in data science and mac...,4 days ago
4,Paige,AI Scientist,New York State,In this role you'll be part of a team of world...,1 day ago
5,Crisis Text Line,"Data Scientist, Decisions","New York, NY 10010 (Flatiron District area)",Proficiency in SQL and one or more data scienc...,5 days ago
6,Urbint,Product Manager,New York State,"At Urbint, Product Managers empathize with cus...",3 days ago
7,Socure,Staff Software Engineer - Data Platform,New York State,You will democratize access to data and aim to...,5 days ago
8,Carta,"Senior Software Engineer, Data",New York State,Build resilient data pipelines based on intern...,11 days ago
9,Xen.ai,Head of Business Development & Sales - AI & Ma...,"New York, NY",We help our customers to develop solutions and...,2 days ago

In [9]:
keyword = "data scientist"
where = "Hyderabad"
remote = 0
formage = 14
salary = "Rs300,000"
jobType = "fulltime"
location = ""
company = ""
experience = "" 
sort_by = "date"
URL = "https://www.indeed.co.in/jobs?"

In [10]:

keyword = keyword.replace(" ","+")
keyword = keyword.replace(",", "%2C")
keyword = keyword.replace("/", "%2F")
if salary != "":
    if "$" in keyword:
        print("yes")
        keyword = keyword[:keyword.find("$")] + " "+salary
    else:
        keyword = keyword+"+"+salary
if where == "":
    if location != "":
        where = location
        location = ""
where = where.replace(" ","+")
where = where.replace(",", "%2C")
where = where.replace("/", "%2F")
URL = URL+"&q="+keyword+"&l="+where
URL

'https://www.indeed.co.in/jobs?&q=data+scientist+Rs300,000&l=Hyderabad'

In [11]:
if(remote ==1):
    URL += "&remotejob=1"

if(formage > 0):
    print(URL)
    URL += "&fromage="+str(formage)

if(jobType != ""):
    print(URL)
    URL+= "&jt="+jobType

if(experience != ""):
    URL += "&explvl=" +experience
URL

https://www.indeed.co.in/jobs?&q=data+scientist+Rs300,000&l=Hyderabad
https://www.indeed.co.in/jobs?&q=data+scientist+Rs300,000&l=Hyderabad&fromage=14

'https://www.indeed.co.in/jobs?&q=data+scientist+Rs300,000&l=Hyderabad&fromage=14&jt=fulltime'

In [12]:
get_jobs(URL)

,Company,Job_title,Location,Summary,Date
0,Next Click,Senior Data Scientist,"Hyderabad, Telangana",Business-minded data scientist with a demonstr...,2 days ago
1,Prism,Machine Learning Engineer,"Hyderabad, Telangana","Understanding of data structures, data modelin...",11 days ago
2,WDB Inida Private Limited,Research Associate / Scientist (CRO),"Hyderabad, Telangana",Analyze and interpret analytical data results ...,13 days ago
3,Enfec,Data Engineer,"Hyderabad, Telangana",Develop and maintain data pipelines including ...,12 days ago
4,BuzzBoard,Data Analyst,"Hyderabad, Telangana",Acquire data from primary or secondary data so...,11 days ago
5,Enfec,Sr Data Engineer,"Hyderabad, Telangana",Develop and maintain data pipelines including ...,5 days ago
6,Claim Genius Making touchless claims a reality,Sr. Data Scientist,"Hyderabad, Telangana",Strong coding skills and fundamentals in data ...,12 days ago
7,Cubic Corporation,Senior Data Scientist,"Hyderabad, Telangana","Understands and leverages data mining, data vi...",9 days ago
8,PLATTS,Data Analyst - World Refinery Database,"Hyderabad, Telangana",Experience working data with scripting languag...,3 days ago
9,PJTSAU,Senior Research Fellow,"Hyderabad, Telangana",A) The candidates along with the bio-data part...,1 day ago

In [13]:
URL+= "&start=10"

In [14]:
get_jobs(URL)

,Company,Job_title,Location,Summary,Date
0,Wipro LTD,SAP HANA Analytics-Lead,"Hyderabad, Telangana",Key skills required for the job are: n SAP HAN...,8 days ago
1,Research Grid Ltd,Full Stack Developer (Contract),"Hyderabad, Telangana",Work with data scientists and analysts to impr...,1 day ago
2,Wipro LTD,Splunk - Analytics-Lead Administrator,"Hyderabad, Telangana",Key skills required for the job are: n Splunk ...,4 days ago